<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/intern_new.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="slideshow-container">

                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides ">
                        <div class="numbertext">1 / 3</div>
                        <img src="../static/4.jpg" style="width:100%">
                        <div class="text f2">“The secret of getting ahead is getting started.” —Mark Twain</div>
                    </div>

                    <div class="mySlides ">
                        <div class="numbertext">2 / 3</div>
                        <img src="../static/5.jpg" style="width:100%">
                        <div class="text f2">“Only the paranoid survive.” —Andy Grove</div>
                    </div>

                    <div class="mySlides ">
                        <div class="numbertext">3 / 3</div>
                        <img src="../static/6.jpg" style="width:100%">
                        <div class="text f2">“It’s hard to beat a person who never gives up.” —Babe Ruth</div>
                    </div>
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <div class="col-sm-4">
                <h1 class="F2">OUR FIRST PROJECT</h1>
                <p class="f2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quis placeat delectus
                    architecto tenetur iste, animi fuga, ipsam assumenda velit fugit voluptate quia laudantium corrupti
                    aut sapiente itaque blanditiis unde.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam repellat, aliquid sapiente beatae
                    debitis animi, itaque numquam aut harum iure doloremque illum dicta minima omnis amet eum
                    exercitationem, alias tempora!</p>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="container1">
                    <p class="f2 ">This is our First Project Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                        Quibusdam excepturi sapiente in inventore dolore deleniti sint. Quas natus id, doloremque
                        reprehenderit nam dolorem nihil nostrum, rerum iste, voluptates adipisci deleniti?

                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="container1">
                    <p class="f2 ">This is our First Project Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Minus
                        quis animi ea nam inventore unde molestiae. In iure a, culpa nisi id error, non, sint alias
                        accusamus pariatur atque consectetur.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="container1">
                    <p class="f2 ">This is our First Project Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sequi
                        quidem consequatur incidunt mollitia voluptatibus fugit molestiae, neque labore id aliquam ipsum
                        exercitationem cupiditate inventore delectus deleniti! Reiciendis earum vel expedita.</p>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <header class="f2">File Uploader</header>
            <form action="/upload" method="POST" enctype="multipart/form-data">
<label for="fas fa-cloud-upload-alt" style="display: none;">
                    <input class="file-input" type="file" name="file" step="1" />
                </label>
                <i class="fas fa-cloud-upload-alt"></i>
                <!-- <input type="submit" class="f3" />
                <input type="reset" class="f3" /> -->

                <section class="progress-area"></section>
                <section class="uploaded-area"></section>
        </div>
    </div>

    <script src="../static/intern2.js"></script>

</body>

</html>